<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Brgy_36_MIS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Brgy_36_MIS.My.MySettings>
            <setting name="Primary" serializeAs="String">
                <value>55, 77, 112</value>
            </setting>
            <setting name="Secondary" serializeAs="String">
                <value>235, 238, 245</value>
            </setting>
            <setting name="Deleted" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
            <setting name="Deactivated" serializeAs="String">
                <value>255, 192, 128</value>
            </setting>
            <setting name="TableHeader" serializeAs="String">
                <value>Century Gothic, 9.75pt, style=Bold</value>
            </setting>
            <setting name="Selected" serializeAs="String">
                <value>50, 113, 240</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Century Gothic, 8.25pt</value>
            </setting>
            <setting name="ButtonFont" serializeAs="String">
                <value>Century Gothic, 9.75pt, style=Bold</value>
            </setting>
            <setting name="Header1" serializeAs="String">
                <value>Century Gothic, 20.25pt, style=Bold</value>
            </setting>
            <setting name="Header2" serializeAs="String">
                <value>Century Gothic, 18pt, style=Bold</value>
            </setting>
            <setting name="Header3" serializeAs="String">
                <value>Century Gothic, 15.75pt, style=Bold</value>
            </setting>
            <setting name="Header4" serializeAs="String">
                <value>Century Gothic, 14.25pt, style=Bold</value>
            </setting>
            <setting name="Header5" serializeAs="String">
                <value>Century Gothic, 12pt, style=Bold</value>
            </setting>
            <setting name="Substring" serializeAs="String">
                <value>Century Gothic, 6.75pt</value>
            </setting>
            <setting name="Editable" serializeAs="String">
                <value>188, 222, 232</value>
            </setting>
            <setting name="Available" serializeAs="String">
                <value>128, 255, 128</value>
            </setting>
            <setting name="Occupied" serializeAs="String">
                <value>255, 192, 128</value>
            </setting>
            <setting name="Unavailable" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
        </Brgy_36_MIS.My.MySettings>
    </userSettings>
</configuration>